<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kz.qazatracker">

    <application
        android:name=".QazaTrackerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_qaza"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_qaza_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.menu.SettingsActivity"/>
        <activity android:name=".main.menu.AboutQazaActivity" />
        <activity android:name=".main.menu.AboutUsActivity" />
        <activity android:name=".startscreen.StartScreenActivity" />
        <activity
            android:name=".qaza_hand_input.presentation.QazaHandInputActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".startscreen.LangActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".qaza_auto_calculation.presentation.QazaAutoCalculationActivity" />
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>